<%= turbo_stream.replace :flash_message do %>
  <%= render partial: 'components/flash_message', locals: { message: t('flash_messages.added', model: DealAssignee.model_name.human) } %>
<% end %>
<%= turbo_stream.append :deal_assignees do %>
  <%= render partial: 'accounts/deals/details/deal_assignees/deal_assignee', locals: { deal_assignee: @deal_assignee } %>
<% end %>
<%= turbo_stream.replace DealAssignee.new do %>
  <%= turbo_frame_tag DealAssignee.new do %>
    <div class="flex items-center h-12" data-controller="load-lucid-icons load-flowbite">
      <p class="m-0 mr-auto typography-body-s-lh150 text-dark-gray-palette-p1">
        <%= t('activerecord.models.deal_assignee.other') %>
      </p>
      <%= link_to new_account_deal_assignee_path(@deal_assignee.account, deal_id: @deal_assignee.deal.id), class: 'flex items-center h-8 p-1 mx-2 text-dark-gray-palette-p3 border-[1.5px] border-[#e5e7eb00] hover:border-brand-palette-06 hover:border-[1.5px] hover:bg-brand-palette-08 hover:rounded-md hover:text-brand-palette-03 transtion ease-in-out delay-250' do %>
        <i data-lucide="plus" height="18"></i>
      <% end %>
      <button type="button" class="flex bg-transparent items-center h-8 p-1 border-[1.5px] border-[#e5e7eb00]  dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:border-brand-palette-06 hover:border-[1.5px] hover:bg-brand-palette-08 hover:rounded-md hover:text-brand-palette-03 transtion ease-in-out delay-250 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-users" aria-expanded="true" aria-controls="accordion-collapse-users ">
        <i data-accordion-icon data-lucide="chevron-down" class="rotate-180 shrink-0" height="16"></i>
      </button>
    </div>
  <% end %>
<% end %>
